# Importing Libraries

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.goodcarbadcar.net/volvo-us-sales-figures/'

In [ ]:
responsive display nowrap data-t data-t wpDataTable wpDataTableID-6047 dataTable no-footer

In [3]:
r = requests.get(url)

# Capturing HTML file format

In [4]:
soup = BeautifulSoup(r.text, 'html.parser')

In [25]:
tab =[]
mark =[]

In [6]:
picktable = soup.find('table', class_ ='scroll responsive display nowrap data-t data-t wpDataTable wpDataTableID-6012')

In [28]:
martable = soup.find('table', class_ ='responsive display nowrap data-t data-t wpDataTable wpDataTableID-6047')

In [29]:
print(martable)

<table class="responsive display nowrap data-t data-t wpDataTable wpDataTableID-6047" data-described-by="table_3_desc" data-wpdatatable_id="6047" id="table_3" style="">
<!-- Table header -->
<thead>
<tr>
<th class="wdtheader sort" data-class="expand" style="">Year</th> <th class="wdtheader sort numdata integer" style="">Sales</th> <th class="wdtheader sort numdata float" style="">YOY Change</th> <th class="wdtheader sort numdata float" style="">US Marketshare</th> <th class="wdtheader sort numdata float" style="">Marketshare Change</th> </tr>
</thead>
<!-- /Table header -->
<!-- Table body -->
<tbody>
<tr id="table_6047_row_0">
<td style="">2005</td>
<td style="">70,852</td>
<td style="">0.00</td>
<td style="">0.42</td>
<td style="">0.00</td>
</tr>
<tr id="table_6047_row_1">
<td style="">2006</td>
<td style="">64,422</td>
<td style="">-9.08</td>
<td style="">0.39</td>
<td style="">-7.04</td>
</tr>
<tr id="table_6047_row_2">
<td style="">2007</td>
<td style="">62,194</td>
<td style="">-3.46</td>
<td style="">0.39</td>
<td style="">-0.92</td>
</tr>
<tr id="table_6047_row_3">
<td style="">2008</td>
<td style="">38,984</td>
<td style="">-37.32</td>
<td style="">0.30</td>
<td style="">-30.69</td>
</tr>
<tr id="table_6047_row_4">
<td style="">2009</td>
<td style="">34,245</td>
<td style="">-12.16</td>
<td style="">0.33</td>
<td style="">10.17</td>
</tr>
<tr id="table_6047_row_5">
<td style="">2010</td>
<td style="">30,810</td>
<td style="">-10.03</td>
<td style="">0.27</td>
<td style="">-23.64</td>
</tr>
<tr id="table_6047_row_6">
<td style="">2011</td>
<td style="">49,558</td>
<td style="">60.85</td>
<td style="">0.39</td>
<td style="">31.43</td>
</tr>
<tr id="table_6047_row_7">
<td style="">2012</td>
<td style="">59,627</td>
<td style="">20.32</td>
<td style="">0.39</td>
<td style="">-0.66</td>
</tr>
<tr id="table_6047_row_8">
<td style="">2013</td>
<td style="">51,756</td>
<td style="">-13.20</td>
<td style="">0.33</td>
<td style="">-16.06</td>
</tr>
<tr id="table_6047_row_9">
<td style="">2014</td>
<td style="">53,498</td>
<td style="">3.37</td>
<td style="">0.33</td>
<td style="">-2.58</td>
</tr>
<tr id="table_6047_row_10">
<td style="">2015</td>
<td style="">64,921</td>
<td style="">21.35</td>
<td style="">0.37</td>
<td style="">12.67</td>
</tr>
<tr id="table_6047_row_11">
<td style="">2016</td>
<td style="">77,174</td>
<td style="">18.87</td>
<td style="">0.44</td>
<td style="">15.41</td>
</tr>
<tr id="table_6047_row_12">
<td style="">2017</td>
<td style="">81,434</td>
<td style="">5.52</td>
<td style="">0.47</td>
<td style="">6.79</td>
</tr>
<tr id="table_6047_row_13">
<td style="">2018</td>
<td style="">98,786</td>
<td style="">21.31</td>
<td style="">0.57</td>
<td style="">17.03</td>
</tr>
<tr id="table_6047_row_14">
<td style="">2019</td>
<td style="">108,227</td>
<td style="">9.56</td>
<td style="">0.64</td>
<td style="">10.30</td>
</tr>
<tr id="table_6047_row_15">
<td style="">2020</td>
<td style="">110,130</td>
<td style="">1.76</td>
<td style="">0.75</td>
<td style="">15.16</td>
</tr>
<tr id="table_6047_row_16">
<td style="">2021</td>
<td style="">51,506</td>
<td style="">0.00</td>
<td style="">0.91</td>
<td style="">0.00</td>
</tr>
</tbody> <!-- /Table body -->
<!-- Table footer -->
<!-- /Table footer -->
</table>

# Mapping the Required Feilds

In [7]:
for team in picktable.find_all('tbody'):
    rows = team.find_all('tr')
    for row in rows:
        tab.append({
        'year': row.find('td').text,
        'jan': row.find_all('td')[1].text,
        'feb': row.find_all('td')[2].text,
        'mar': row.find_all('td')[3].text,
        'apr': row.find_all('td')[4].text,
        'may': row.find_all('td')[5].text,
        'jun': row.find_all('td')[6].text,
        'jul': row.find_all('td')[7].text,
        'aug': row.find_all('td')[8].text,
        'sep': row.find_all('td')[9].text,
        'oct': row.find_all('td')[10].text,
        'nov': row.find_all('td')[11].text,
        'decb': row.find_all('td')[12].text
        })
        print(tab)

[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}, {'year': '2011', 'jan': '3,017', 'feb': '3,492', 'mar': '4,476', 'apr': '4,487', 'may': '5,363', 'jun': '5,301', 'jul': '4,054', 'aug': '3,853', 'sep': '3,802', 'oct': '3,802', 'nov': '3,725', 'decb': '4,186'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}, {'year': '2011', 'jan': '3,017', 'feb': '3,492', 'mar': '4,476', 'apr': '4,487', 'may': '5,363', 'jun': '5,301', 'jul': '4,054', 'aug': '3,853', 'sep': '3,802', 'oct': '3,802', 'nov': '3,725', 'decb': '4,186'}, {'year': '2012', 'jan': '3,381', 'feb': '8,668', 'mar': '5,480', 'apr': '3,929', 'may': '5,061', 'jun': '5,529', 'jul': '4,720', 'aug': '5,097', 'sep': '4,122', 'oct': '3,466', 'nov': '4,990', 'decb': '5,184'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}, {'year': '2011', 'jan': '3,017', 'feb': '3,492', 'mar': '4,476', 'apr': '4,487', 'may': '5,363', 'jun': '5,301', 'jul': '4,054', 'aug': '3,853', 'sep': '3,802', 'oct': '3,802', 'nov': '3,725', 'decb': '4,186'}, {'year': '2012', 'jan': '3,381', 'feb': '8,668', 'mar': '5,480', 'apr': '3,929', 'may': '5,061', 'jun': '5,529', 'jul': '4,720', 'aug': '5,097', 'sep': '4,122', 'oct': '3,466', 'nov': '4,990', 'decb': '5,184'}, {'year': '2013', 'jan': '4,202', 'feb': '4,187', 'mar': '4,476', 'apr': '3,617', 'may': '5,411', 'jun': '5,837', 'jul': '5,023', 'aug': '4,474', 'sep': '3,508', 'oct': '3,187', 'nov': '3,603', 'decb': '4,231'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}, {'year': '2011', 'jan': '3,017', 'feb': '3,492', 'mar': '4,476', 'apr': '4,487', 'may': '5,363', 'jun': '5,301', 'jul': '4,054', 'aug': '3,853', 'sep': '3,802', 'oct': '3,802', 'nov': '3,725', 'decb': '4,186'}, {'year': '2012', 'jan': '3,381', 'feb': '8,668', 'mar': '5,480', 'apr': '3,929', 'may': '5,061', 'jun': '5,529', 'jul': '4,720', 'aug': '5,097', 'sep': '4,122', 'oct': '3,466', 'nov': '4,990', 'decb': '5,184'}, {'year': '2013', 'jan': '4,202', 'feb': '4,187', 'mar': '4,476', 'apr': '3,617', 'may': '5,411', 'jun': '5,837', 'jul': '5,023', 'aug': '4,474', 'sep': '3,508', 'oct': '3,187', 'nov': '3,603', 'decb': '4,231'}, {'year': '2014', 'jan': '3,397', 'feb': '3,564', 'mar': '5,319', 'apr': '4,030', 'may': '4,791', 'jun': '5,525', 'jul': '4,411', 'aug': '4,395', 'sep': '7,102', 'oct': '3,499', 'nov': '3,016', 'decb': '4,449'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}, {'year': '2011', 'jan': '3,017', 'feb': '3,492', 'mar': '4,476', 'apr': '4,487', 'may': '5,363', 'jun': '5,301', 'jul': '4,054', 'aug': '3,853', 'sep': '3,802', 'oct': '3,802', 'nov': '3,725', 'decb': '4,186'}, {'year': '2012', 'jan': '3,381', 'feb': '8,668', 'mar': '5,480', 'apr': '3,929', 'may': '5,061', 'jun': '5,529', 'jul': '4,720', 'aug': '5,097', 'sep': '4,122', 'oct': '3,466', 'nov': '4,990', 'decb': '5,184'}, {'year': '2013', 'jan': '4,202', 'feb': '4,187', 'mar': '4,476', 'apr': '3,617', 'may': '5,411', 'jun': '5,837', 'jul': '5,023', 'aug': '4,474', 'sep': '3,508', 'oct': '3,187', 'nov': '3,603', 'decb': '4,231'}, {'year': '2014', 'jan': '3,397', 'feb': '3,564', 'mar': '5,319', 'apr': '4,030', 'may': '4,791', 'jun': '5,525', 'jul': '4,411', 'aug': '4,395', 'sep': '7,102', 'oct': '3,499', 'nov': '3,016', 'decb': '4,449'}, {'year': '2015', 'jan': '3,458', 'feb': '3,696', 'mar': '5,352', 'apr': '4,210', 'may': '4,636', 'jun': '5,360', 'jul': '5,214', 'aug': '5,424', 'sep': '5,064', 'oct': '6,958', 'nov': '6,640', 'decb': '8,909'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}, {'year': '2011', 'jan': '3,017', 'feb': '3,492', 'mar': '4,476', 'apr': '4,487', 'may': '5,363', 'jun': '5,301', 'jul': '4,054', 'aug': '3,853', 'sep': '3,802', 'oct': '3,802', 'nov': '3,725', 'decb': '4,186'}, {'year': '2012', 'jan': '3,381', 'feb': '8,668', 'mar': '5,480', 'apr': '3,929', 'may': '5,061', 'jun': '5,529', 'jul': '4,720', 'aug': '5,097', 'sep': '4,122', 'oct': '3,466', 'nov': '4,990', 'decb': '5,184'}, {'year': '2013', 'jan': '4,202', 'feb': '4,187', 'mar': '4,476', 'apr': '3,617', 'may': '5,411', 'jun': '5,837', 'jul': '5,023', 'aug': '4,474', 'sep': '3,508', 'oct': '3,187', 'nov': '3,603', 'decb': '4,231'}, {'year': '2014', 'jan': '3,397', 'feb': '3,564', 'mar': '5,319', 'apr': '4,030', 'may': '4,791', 'jun': '5,525', 'jul': '4,411', 'aug': '4,395', 'sep': '7,102', 'oct': '3,499', 'nov': '3,016', 'decb': '4,449'}, {'year': '2015', 'jan': '3,458', 'feb': '3,696', 'mar': '5,352', 'apr': '4,210', 'may': '4,636', 'jun': '5,360', 'jul': '5,214', 'aug': '5,424', 'sep': '5,064', 'oct': '6,958', 'nov': '6,640', 'decb': '8,909'}, {'year': '2016', 'jan': '3,992', 'feb': '4,973', 'mar': '6,437', 'apr': '5,792', 'may': '5,121', 'jun': '7,702', 'jul': '7,952', 'aug': '6,904', 'sep': '5,130', 'oct': '5,941', 'nov': '7,333', 'decb': '9,897'}]
[{'year': '2005', 'jan': '5,697', 'feb': '5,749', 'mar': '6,784', 'apr': '6,077', 'may': '6,158', 'jun': '7,175', 'jul': '6,585', 'aug': '5,920', 'sep': '5,007', 'oct': '4,774', 'nov': '5,077', 'decb': '5,849'}, {'year': '2006', 'jan': '5,015', 'feb': '4,931', 'mar': '6,590', 'apr': '5,393', 'may': '5,949', 'jun': '6,127', 'jul': '5,720', 'aug': '5,966', 'sep': '4,573', 'oct': '4,117', 'nov': '5,041', 'decb': '5,000'}, {'year': '2007', 'jan': '4,745', 'feb': '4,558', 'mar': '6,290', 'apr': '4,660', 'may': '5,220', 'jun': '5,896', 'jul': '5,995', 'aug': '5,826', 'sep': '4,594', 'oct': '4,283', 'nov': '4,583', 'decb': '5,544'}, {'year': '2008', 'jan': '4,496', 'feb': '4,467', 'mar': '5,254', 'apr': '3,650', 'may': '3,545', 'jun': '3,276', 'jul': '2,700', 'aug': '2,218', 'sep': '2,154', 'oct': '1,937', 'nov': '2,420', 'decb': '2,867'}, {'year': '2009', 'jan': '1,321', 'feb': '1,844', 'mar': '3,266', 'apr': '2,449', 'may': '3,415', 'jun': '4,339', 'jul': '3,675', 'aug': '2,595', 'sep': '2,489', 'oct': '2,449', 'nov': '2,683', 'decb': '3,720'}, {'year': '2010', 'jan': '1,860', 'feb': '2,026', 'mar': '2,948', 'apr': '2,009', 'may': '2,442', 'jun': '2,868', 'jul': '2,626', 'aug': '2,785', 'sep': '2,588', 'oct': '2,527', 'nov': '2,752', 'decb': '3,379'}, {'year': '2011', 'jan': '3,017', 'feb': '3,492', 'mar': '4,476', 'apr': '4,487', 'may': '5,363', 'jun': '5,301', 'jul': '4,054', 'aug': '3,853', 'sep': '3,802', 'oct': '3,802', 'nov': '3,725', 'decb': '4,186'}, {'year': '2012', 'jan': '3,381', 'feb': '8,668', 'mar': '5,480', 'apr': '3,929', 'may': '5,061', 'jun': '5,529', 'jul': '4,720', 'aug': '5,097', 'sep': '4,122', 'oct': '3,466', 'nov': '4,990', 'decb': '5,184'}, {'year': '2013', 'jan': '4,202', 'feb': '4,187', 'mar': '4,476', 'apr': '3,617', 'may': '5,411', 'jun': '5,837', 'jul': '5,023', 'aug': '4,474', 'sep': '3,508', 'oct': '3,187', 'nov': '3,603', 'decb': '4,231'}, {'year': '2014', 'jan': '3,397', 'feb': '3,564', 'mar': '5,319', 'apr': '4,030', 'may': '4,791', 'jun': '5,525', 'jul': '4,411', 'aug': '4,395', 'sep': '7,102', 'oct': '3,499', 'nov': '3,016', 'decb': '4,449'}, {'year': '2015', 'jan': '3,458', 'feb': '3,696', 'mar': '5,352', 'apr': '4,210', 'may': '4,636', 'jun': '5,360', 'jul': '5,214', 'aug': '5,424', 'sep': '5,064', 'oct': '6,958', 'nov': '6,640', 'decb': '8,909'}, {'year': '2016', 'jan': '3,992', 'feb': '4,973', 'mar': '6,437', 'apr': '5,792', 'may': '5,121', 'jun': '7,702', 'jul': '7,952', 'aug': '6,904', 'sep': '5,130', 'oct': '5,941', 'nov': '7,333', 'decb': '9,897'}, {'year': '2017', 'jan': '3,448', 'feb': '4,632', 'mar': '5,349', 'apr': '7,111', 'may': '6,197', 'jun': '7,295', 'jul': '6,967', 'aug': '7,994', 'sep': '7,900', 'oct': '7,008', 'nov': '7,854', 'decb': '9,679'}]

In [30]:
for team in martable.find_all('tbody'):
    rows = team.find_all('tr')
    for row in rows:
        mark.append({
        'year': row.find('td').text,
        'Sales': row.find_all('td')[1].text,
        'YOY_Change': row.find_all('td')[2].text,
        'US_Mark': row.find_all('td')[3].text,
        'Mark_Share': row.find_all('td')[4].text

        })
        print(mark)

[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}, {'year': '2015', 'Sales': '64,921', 'YOY_Change': '21.35', 'US_Mark': '0.37', 'Mark_Share': '12.67'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}, {'year': '2015', 'Sales': '64,921', 'YOY_Change': '21.35', 'US_Mark': '0.37', 'Mark_Share': '12.67'}, {'year': '2016', 'Sales': '77,174', 'YOY_Change': '18.87', 'US_Mark': '0.44', 'Mark_Share': '15.41'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}, {'year': '2015', 'Sales': '64,921', 'YOY_Change': '21.35', 'US_Mark': '0.37', 'Mark_Share': '12.67'}, {'year': '2016', 'Sales': '77,174', 'YOY_Change': '18.87', 'US_Mark': '0.44', 'Mark_Share': '15.41'}, {'year': '2017', 'Sales': '81,434', 'YOY_Change': '5.52', 'US_Mark': '0.47', 'Mark_Share': '6.79'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}, {'year': '2015', 'Sales': '64,921', 'YOY_Change': '21.35', 'US_Mark': '0.37', 'Mark_Share': '12.67'}, {'year': '2016', 'Sales': '77,174', 'YOY_Change': '18.87', 'US_Mark': '0.44', 'Mark_Share': '15.41'}, {'year': '2017', 'Sales': '81,434', 'YOY_Change': '5.52', 'US_Mark': '0.47', 'Mark_Share': '6.79'}, {'year': '2018', 'Sales': '98,786', 'YOY_Change': '21.31', 'US_Mark': '0.57', 'Mark_Share': '17.03'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}, {'year': '2015', 'Sales': '64,921', 'YOY_Change': '21.35', 'US_Mark': '0.37', 'Mark_Share': '12.67'}, {'year': '2016', 'Sales': '77,174', 'YOY_Change': '18.87', 'US_Mark': '0.44', 'Mark_Share': '15.41'}, {'year': '2017', 'Sales': '81,434', 'YOY_Change': '5.52', 'US_Mark': '0.47', 'Mark_Share': '6.79'}, {'year': '2018', 'Sales': '98,786', 'YOY_Change': '21.31', 'US_Mark': '0.57', 'Mark_Share': '17.03'}, {'year': '2019', 'Sales': '108,227', 'YOY_Change': '9.56', 'US_Mark': '0.64', 'Mark_Share': '10.30'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}, {'year': '2015', 'Sales': '64,921', 'YOY_Change': '21.35', 'US_Mark': '0.37', 'Mark_Share': '12.67'}, {'year': '2016', 'Sales': '77,174', 'YOY_Change': '18.87', 'US_Mark': '0.44', 'Mark_Share': '15.41'}, {'year': '2017', 'Sales': '81,434', 'YOY_Change': '5.52', 'US_Mark': '0.47', 'Mark_Share': '6.79'}, {'year': '2018', 'Sales': '98,786', 'YOY_Change': '21.31', 'US_Mark': '0.57', 'Mark_Share': '17.03'}, {'year': '2019', 'Sales': '108,227', 'YOY_Change': '9.56', 'US_Mark': '0.64', 'Mark_Share': '10.30'}, {'year': '2020', 'Sales': '110,130', 'YOY_Change': '1.76', 'US_Mark': '0.75', 'Mark_Share': '15.16'}]
[{'year': '2005', 'Sales': '70,852', 'YOY_Change': '0.00', 'US_Mark': '0.42', 'Mark_Share': '0.00'}, {'year': '2006', 'Sales': '64,422', 'YOY_Change': '-9.08', 'US_Mark': '0.39', 'Mark_Share': '-7.04'}, {'year': '2007', 'Sales': '62,194', 'YOY_Change': '-3.46', 'US_Mark': '0.39', 'Mark_Share': '-0.92'}, {'year': '2008', 'Sales': '38,984', 'YOY_Change': '-37.32', 'US_Mark': '0.30', 'Mark_Share': '-30.69'}, {'year': '2009', 'Sales': '34,245', 'YOY_Change': '-12.16', 'US_Mark': '0.33', 'Mark_Share': '10.17'}, {'year': '2010', 'Sales': '30,810', 'YOY_Change': '-10.03', 'US_Mark': '0.27', 'Mark_Share': '-23.64'}, {'year': '2011', 'Sales': '49,558', 'YOY_Change': '60.85', 'US_Mark': '0.39', 'Mark_Share': '31.43'}, {'year': '2012', 'Sales': '59,627', 'YOY_Change': '20.32', 'US_Mark': '0.39', 'Mark_Share': '-0.66'}, {'year': '2013', 'Sales': '51,756', 'YOY_Change': '-13.20', 'US_Mark': '0.33', 'Mark_Share': '-16.06'}, {'year': '2014', 'Sales': '53,498', 'YOY_Change': '3.37', 'US_Mark': '0.33', 'Mark_Share': '-2.58'}, {'year': '2015', 'Sales': '64,921', 'YOY_Change': '21.35', 'US_Mark': '0.37', 'Mark_Share': '12.67'}, {'year': '2016', 'Sales': '77,174', 'YOY_Change': '18.87', 'US_Mark': '0.44', 'Mark_Share': '15.41'}, {'year': '2017', 'Sales': '81,434', 'YOY_Change': '5.52', 'US_Mark': '0.47', 'Mark_Share': '6.79'}, {'year': '2018', 'Sales': '98,786', 'YOY_Change': '21.31', 'US_Mark': '0.57', 'Mark_Share': '17.03'}, {'year': '2019', 'Sales': '108,227', 'YOY_Change': '9.56', 'US_Mark': '0.64', 'Mark_Share': '10.30'}, {'year': '2020', 'Sales': '110,130', 'YOY_Change': '1.76', 'US_Mark': '0.75', 'Mark_Share': '15.16'}, {'year': '2021', 'Sales': '51,506', 'YOY_Change': '0.00', 'US_Mark': '0.91', 'Mark_Share': '0.00'}]

# Transforming Into Dataframe

In [8]:
from pandas import DataFrame
import pandas as pd

In [31]:
df1 = DataFrame(mark)

In [9]:
df = DataFrame(tab)

In [32]:
df1

    year    Sales YOY_Change US_Mark Mark_Share
0   2005   70,852       0.00    0.42       0.00
1   2006   64,422      -9.08    0.39      -7.04
2   2007   62,194      -3.46    0.39      -0.92
3   2008   38,984     -37.32    0.30     -30.69
4   2009   34,245     -12.16    0.33      10.17
5   2010   30,810     -10.03    0.27     -23.64
6   2011   49,558      60.85    0.39      31.43
7   2012   59,627      20.32    0.39      -0.66
8   2013   51,756     -13.20    0.33     -16.06
9   2014   53,498       3.37    0.33      -2.58
10  2015   64,921      21.35    0.37      12.67
11  2016   77,174      18.87    0.44      15.41
12  2017   81,434       5.52    0.47       6.79
13  2018   98,786      21.31    0.57      17.03
14  2019  108,227       9.56    0.64      10.30
15  2020  110,130       1.76    0.75      15.16
16  2021   51,506       0.00    0.91       0.00

In [10]:
df

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,decb
0,2005,"5,697","5,749","6,784","6,077","6,158","7,175","6,585","5,920","5,007","4,774","5,077","5,849"
1,2006,"5,015","4,931","6,590","5,393","5,949","6,127","5,720","5,966","4,573","4,117","5,041","5,000"
2,2007,"4,745","4,558","6,290","4,660","5,220","5,896","5,995","5,826","4,594","4,283","4,583","5,544"
3,2008,"4,496","4,467","5,254","3,650","3,545","3,276","2,700","2,218","2,154","1,937","2,420","2,867"
4,2009,"1,321","1,844","3,266","2,449","3,415","4,339","3,675","2,595","2,489","2,449","2,683","3,720"
5,2010,"1,860","2,026","2,948","2,009","2,442","2,868","2,626","2,785","2,588","2,527","2,752","3,379"
6,2011,"3,017","3,492","4,476","4,487","5,363","5,301","4,054","3,853","3,802","3,802","3,725","4,186"
7,2012,"3,381","8,668","5,480","3,929","5,061","5,529","4,720","5,097","4,122","3,466","4,990","5,184"
8,2013,"4,202","4,187","4,476","3,617","5,411","5,837","5,023","4,474","3,508","3,187","3,603","4,231"
9,2014,"3,397","3,564","5,319","4,030","4,791","5,525","4,411","4,395","7,102","3,499","3,016","4,449"
10,2015,"3,458","3,696","5,352","4,210","4,636","5,360","5,214","5,424","5,064","6,958","6,640","8,909"
11,2016,"3,992","4,973","6,437","5,792","5,121","7,702","7,952","6,904","5,130","5,941","7,333","9,897"
12,2017,"3,448","4,632","5,349","7,111","6,197","7,295","6,967","7,994","7,900","7,008","7,854","9,679"
13,2018,"5,560","6,283","8,463","8,333","9,338","9,868","8,622","8,970","8,715","7,627","8,181","8,826"
14,2019,"5,854","6,635","9,569","8,367","9,761","9,934","8,795","9,187","9,323","8,807","9,635","12,360"
15,2020,"6,157","7,841","5,487","3,866","9,519","10,385","9,697","10,378","10,274","10,691","11,591","14,244"
16,2021,"8,151","9,164","9,924","11,046","13,221",0,0,0,0,0,0,0

In [33]:
df = df.replace(',','', regex = True)
df1 = df1.replace(',','', regex = True)

In [12]:
df

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,decb
0,2005,5697,5749,6784,6077,6158,7175,6585,5920,5007,4774,5077,5849
1,2006,5015,4931,6590,5393,5949,6127,5720,5966,4573,4117,5041,5000
2,2007,4745,4558,6290,4660,5220,5896,5995,5826,4594,4283,4583,5544
3,2008,4496,4467,5254,3650,3545,3276,2700,2218,2154,1937,2420,2867
4,2009,1321,1844,3266,2449,3415,4339,3675,2595,2489,2449,2683,3720
5,2010,1860,2026,2948,2009,2442,2868,2626,2785,2588,2527,2752,3379
6,2011,3017,3492,4476,4487,5363,5301,4054,3853,3802,3802,3725,4186
7,2012,3381,8668,5480,3929,5061,5529,4720,5097,4122,3466,4990,5184
8,2013,4202,4187,4476,3617,5411,5837,5023,4474,3508,3187,3603,4231
9,2014,3397,3564,5319,4030,4791,5525,4411,4395,7102,3499,3016,4449
10,2015,3458,3696,5352,4210,4636,5360,5214,5424,5064,6958,6640,8909
11,2016,3992,4973,6437,5792,5121,7702,7952,6904,5130,5941,7333,9897
12,2017,3448,4632,5349,7111,6197,7295,6967,7994,7900,7008,7854,9679
13,2018,5560,6283,8463,8333,9338,9868,8622,8970,8715,7627,8181,8826
14,2019,5854,6635,9569,8367,9761,9934,8795,9187,9323,8807,9635,12360
15,2020,6157,7841,5487,3866,9519,10385,9697,10378,10274,10691,11591,14244
16,2021,8151,9164,9924,11046,13221,0,0,0,0,0,0,0

In [34]:
df1

    year   Sales YOY_Change US_Mark Mark_Share
0   2005   70852       0.00    0.42       0.00
1   2006   64422      -9.08    0.39      -7.04
2   2007   62194      -3.46    0.39      -0.92
3   2008   38984     -37.32    0.30     -30.69
4   2009   34245     -12.16    0.33      10.17
5   2010   30810     -10.03    0.27     -23.64
6   2011   49558      60.85    0.39      31.43
7   2012   59627      20.32    0.39      -0.66
8   2013   51756     -13.20    0.33     -16.06
9   2014   53498       3.37    0.33      -2.58
10  2015   64921      21.35    0.37      12.67
11  2016   77174      18.87    0.44      15.41
12  2017   81434       5.52    0.47       6.79
13  2018   98786      21.31    0.57      17.03
14  2019  108227       9.56    0.64      10.30
15  2020  110130       1.76    0.75      15.16
16  2021   51506       0.00    0.91       0.00

In [35]:
df = df.apply(pd.to_numeric)
df1 = df1.apply(pd.to_numeric)

In [36]:
print (df1.dtypes)

year            int64
Sales           int64
YOY_Change    float64
US_Mark       float64
Mark_Share    float64
dtype: object

In [15]:
df

,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,decb
0,2005,5697,5749,6784,6077,6158,7175,6585,5920,5007,4774,5077,5849
1,2006,5015,4931,6590,5393,5949,6127,5720,5966,4573,4117,5041,5000
2,2007,4745,4558,6290,4660,5220,5896,5995,5826,4594,4283,4583,5544
3,2008,4496,4467,5254,3650,3545,3276,2700,2218,2154,1937,2420,2867
4,2009,1321,1844,3266,2449,3415,4339,3675,2595,2489,2449,2683,3720
5,2010,1860,2026,2948,2009,2442,2868,2626,2785,2588,2527,2752,3379
6,2011,3017,3492,4476,4487,5363,5301,4054,3853,3802,3802,3725,4186
7,2012,3381,8668,5480,3929,5061,5529,4720,5097,4122,3466,4990,5184
8,2013,4202,4187,4476,3617,5411,5837,5023,4474,3508,3187,3603,4231
9,2014,3397,3564,5319,4030,4791,5525,4411,4395,7102,3499,3016,4449
10,2015,3458,3696,5352,4210,4636,5360,5214,5424,5064,6958,6640,8909
11,2016,3992,4973,6437,5792,5121,7702,7952,6904,5130,5941,7333,9897
12,2017,3448,4632,5349,7111,6197,7295,6967,7994,7900,7008,7854,9679
13,2018,5560,6283,8463,8333,9338,9868,8622,8970,8715,7627,8181,8826
14,2019,5854,6635,9569,8367,9761,9934,8795,9187,9323,8807,9635,12360
15,2020,6157,7841,5487,3866,9519,10385,9697,10378,10274,10691,11591,14244
16,2021,8151,9164,9924,11046,13221,0,0,0,0,0,0,0

# Connecting with Database

In [16]:
import mysql.connector

In [17]:
dbcon = mysql.connector.connect(
host= 'localhost',
user= 'root',
passwd = 'rootroot',
database = 'volvo')

In [18]:
mycursor = dbcon.cursor()

In [ ]:
mycursor.execute("drop table Sales")

In [45]:
mycursor.execute("drop table markshare")

In [20]:
mycursor.execute("CREATE TABLE Sales(Year int,Jan int,Feb int,Mar int,Apr int,May int,Jun int,Jul int,Aug int,Sep int,Oct int,Nov int,Decb int)")

In [46]:
mycursor.execute("CREATE TABLE Markshare(Year int, sales int, yoy_change DECIMAL(6,4), us_mark DECIMAL(6,4), mark_share DECIMAL(6,4))")

In [21]:
cols = "`,`".join([str(i) for i in df.columns.tolist()])

In [39]:
cols1 = "`,`".join([str(i) for i in df1.columns.tolist()])

In [40]:
cols1

'year`,`Sales`,`YOY_Change`,`US_Mark`,`Mark_Share'

# Inserting Data Into Database

In [23]:
for i,row in df.iterrows():
    sql = "INSERT INTO `sales` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    mycursor.execute(sql, tuple(row))
dbcon.commit()

In [47]:
for i,row in df1.iterrows():
    sql = "INSERT INTO `Markshare` (`" +cols1 + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    mycursor.execute(sql, tuple(row))
dbcon.commit()